@tailwind base;
@tailwind components;
@tailwind utilities;

.flying-up-img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  position: fixed;
}

.fade-in-from-top {
    animation: fadeInFromTop 0.5s ease-in-out;
}

@keyframes fadeInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}